{#
/**
 * @see modules/contrib/paragraphs/templates/paragraph.html.twig
 */
#}
{%
  set classes = [
    'p-' ~ paragraph.bundle|clean_class,
    view_mode ? 'p-' ~ paragraph.bundle|clean_class ~ view_mode|clean_class
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
{% endblock paragraph %}
