{#
/**
 * @see core/modules/system/templates/off-canvas-page-wrapper.html.twig
 */
#}
{% if children %}
  <div class="dialog-off-canvas-main-canvas page_layout" data-off-canvas-main-canvas>
    {{ children }}
  </div>
{% endif %}
